@font-face {
  font-family: 'Girloy';
  src: url("./fonts/Gilroy-Regular.woff2"),
  url("./fonts/Gilroy-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Nekst-Black';
  src: url("./fonts/Nekst-Black.woff2"),
  url("./fonts/Nekst-Black.woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Girloy', 'Nekst-Black',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

*{
  box-sizing: border-box;
}